soap_react/ICrossCanal.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ICrossCanalservice" targetNamespace="http://tempuri.org/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns1="urn:CrossCanalIntf">
  <types>
    <xs:schema targetNamespace="urn:CrossCanalIntf" xmlns="urn:CrossCanalIntf">
      <xs:complexType name="TListeSKU">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="xs:string[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TRetourPrixStockList">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TRetourPrixStock[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TRetourPrixStock">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:int"/>
          <xs:element name="ErrorLibelle" type="xs:string"/>
          <xs:element name="ArtSKU" type="xs:string"/>
          <xs:element name="ArtEAN" type="xs:string"/>
          <xs:element name="StockDispo" type="xs:int"/>
          <xs:element name="PrixVte" type="xs:double"/>
          <xs:element name="RemiseMnt" type="xs:double"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TLigneCommandeList">
        <xs:complexContent>
          <xs:restriction base="soapenc:Array">
            <xs:sequence/>
            <xs:attribute ref="soapenc:arrayType" n1:arrayType="ns1:TLigneCommande[]" xmlns:n1="http://schemas.xmlsoap.org/wsdl/"/>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TLigneCommande">
        <xs:sequence>
          <xs:element name="ArtSKU" type="xs:string"/>
          <xs:element name="ArtEAN" type="xs:string"/>
          <xs:element name="QTE" type="xs:int"/>
          <xs:element name="PrixBrut" type="xs:double"/>
          <xs:element name="PrixNet" type="xs:double"/>
          <xs:element name="RemiseMnt" type="xs:double"/>
          <xs:element name="TVA" type="xs:double"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TRetour">
        <xs:sequence>
          <xs:element name="ErrorCode" type="xs:int"/>
          <xs:element name="ErrorLibelle" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="TestConnexion0Request"/>
  <message name="TestConnexion0Response">
    <part name="return" type="xs:boolean"/>
  </message>
  <message name="GetPrixStock1Request">
    <part name="CodeMagasin" type="xs:string"/>
    <part name="ListeArticle" type="ns1:TListeSKU"/>
  </message>
  <message name="GetPrixStock1Response">
    <part name="return" type="ns1:TRetourPrixStockList"/>
  </message>
  <message name="CreateCommande2Request">
    <part name="CodeMagasin" type="xs:string"/>
    <part name="NumeroCommande" type="xs:string"/>
    <part name="MontantTTC" type="xs:double"/>
    <part name="DateCommande" type="xs:dateTime"/>
    <part name="DateLimite" type="xs:dateTime"/>
    <part name="NumeroFidelite" type="xs:string"/>
    <part name="eMail" type="xs:string"/>
    <part name="Civilite" type="xs:string"/>
    <part name="Nom" type="xs:string"/>
    <part name="Prenom" type="xs:string"/>
    <part name="DateNaiss" type="xs:dateTime"/>
    <part name="Telephone" type="xs:string"/>
    <part name="Adresse" type="xs:string"/>
    <part name="Ville" type="xs:string"/>
    <part name="CodePostal" type="xs:string"/>
    <part name="Pays" type="xs:string"/>
    <part name="ListeArticle" type="ns1:TLigneCommandeList"/>
  </message>
  <message name="CreateCommande2Response">
    <part name="return" type="ns1:TRetour"/>
  </message>
  <message name="CancelCommande3Request">
    <part name="CodeMagasin" type="xs:string"/>
    <part name="NumeroCommande" type="xs:string"/>
    <part name="DateAnnule" type="xs:dateTime"/>
    <part name="CodeMotif" type="xs:string"/>
  </message>
  <message name="CancelCommande3Response">
    <part name="return" type="ns1:TRetour"/>
  </message>
  <portType name="ICrossCanal">
    <operation name="TestConnexion">
      <input message="tns:TestConnexion0Request"/>
      <output message="tns:TestConnexion0Response"/>
    </operation>
    <operation name="GetPrixStock">
      <input message="tns:GetPrixStock1Request"/>
      <output message="tns:GetPrixStock1Response"/>
    </operation>
    <operation name="CreateCommande">
      <input message="tns:CreateCommande2Request"/>
      <output message="tns:CreateCommande2Response"/>
    </operation>
    <operation name="CancelCommande">
      <input message="tns:CancelCommande3Request"/>
      <output message="tns:CancelCommande3Response"/>
    </operation>
  </portType>
  <binding name="ICrossCanalbinding" type="tns:ICrossCanal">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="TestConnexion">
      <soap:operation soapAction="urn:CrossCanalIntf-ICrossCanal#TestConnexion" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:CrossCanalIntf-ICrossCanal"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:CrossCanalIntf-ICrossCanal"/>
      </output>
    </operation>
    <operation name="GetPrixStock">
      <soap:operation soapAction="urn:CrossCanalIntf-ICrossCanal#GetPrixStock" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:CrossCanalIntf-ICrossCanal"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:CrossCanalIntf-ICrossCanal"/>
      </output>
    </operation>
    <operation name="CreateCommande">
      <soap:operation soapAction="urn:CrossCanalIntf-ICrossCanal#CreateCommande" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:CrossCanalIntf-ICrossCanal"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:CrossCanalIntf-ICrossCanal"/>
      </output>
    </operation>
    <operation name="CancelCommande">
      <soap:operation soapAction="urn:CrossCanalIntf-ICrossCanal#CancelCommande" style="rpc"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:CrossCanalIntf-ICrossCanal"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:CrossCanalIntf-ICrossCanal"/>
      </output>
    </operation>
  </binding>
  <service name="ICrossCanalservice">
    <port name="ICrossCanalPort" binding="tns:ICrossCanalbinding">
      <soap:address location="http://localhost/GestionStock/SrvGestionStock.dll/soap/ICrossCanal"/>
    </port>
  </service>
</definitions>